
/Ticket2Calendar/bin
/Ticket2Calendar/gen
/Ticket2CalendarTest/bin
/Ticket2CalendarTest/gen
/Ticket2Calendar/.settings

/Ticket2CalendarUnitTest/bin
.gradle
/Ticket2Calendar/build
/.idea
/*.iml
/Ticket2CalendarUnitTest/build
*.iml
