<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="se.acrend.sj2cal" android:installLocation="auto" android:versionCode="101" android:versionName="1.0.1">
	<application android:label="@string/app_name" android:icon="@drawable/sj2cal"
		android:debuggable="true">
		<activity android:label="@string/app_name" android:name=".activity.Preferences">
			<intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:label="@string/app_name" android:name=".activity.About">
    </activity>
		<receiver android:name=".receiver.SmsReceiver">
			<intent-filter android:priority="1000">
				<action android:name="android.provider.Telephony.SMS_RECEIVED" />
			</intent-filter>
		</receiver>
	</application>
	<uses-permission android:name="android.permission.READ_CALENDAR" />
	<uses-permission android:name="android.permission.WRITE_CALENDAR" />
	<uses-permission android:name="android.permission.RECEIVE_SMS" />
	<uses-sdk android:targetSdkVersion="8" android:minSdkVersion="6"></uses-sdk>
	<supports-screens android:largeScreens="true"
		android:smallScreens="true" android:resizeable="true"
		android:normalScreens="true" android:anyDensity="true"></supports-screens>
</manifest> 